<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
        <style>
        table, td { border: 1px solid #333; }
        thead, tfoot { background-color: #333; color: #fff; }
    </style>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Adj Close</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1111-11-11</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
            <td>11</td>
        </tr>
    </tbody>
</table>
</body>
</html>
